.game {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
.hole {
    width: 100px;
    height: 100px;
    margin: 0 1px 5px;
    background: gray;
    border-radius: 50%;
  }
.goblin {
    background-image: url(https://raw.githubusercontent.com/netology-code/ahj-homeworks/video/dom/pic/goblin.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: brown;
  }